<!-- <h1>{{title}}</h1> -->
<h1>Login</h1>
<form id="login0" name="login" method="post" action="./login">
    <table>
        <tr>
            <td>email</td><td><input type="text" name="email" id="email0" /></td>
        </tr>
        <tr>
            <td>password</td><td><input type="password" name="password" id="password0" /></td>
        </tr>
        <tr>
            <td colspan=2><input type="submit"><input type="reset"></td>
        </tr>
    </table>
</form>
