<!-- <h1>{{title}}</h1> -->
<h1>Register</h1>
<script type="text/javascript" language="javascript">
    function fnCheckFields() {
        var this_form = document.getElementById('register0');
        var carrier = this_form.elements.namedItem("carrier");
        var time_zone = this_form.elements.namedItem("time_zone");
        var field_count = 0;
        if (this_form.elements.namedItem("password").value != '') { field_count += 1; }
        if (this_form.elements.namedItem("phone").value != '') { field_count += 1; }
        if (this_form.elements.namedItem("email").value != '') { field_count += 1; }
        if (carrier.options[carrier.selectedIndex].value != 'invalid') { field_count += 1; }
        if (time_zone.options[time_zone.selectedIndex].value != 'invalid') { field_count += 1; }
        if (field_count < 5) { return false; }
    }
</script>
<form id="register0" name="register" method="post" action="./register" onSubmit="return fnCheckFields();">
    <table>
        <tr>
            <td colspan=2><span id="msg0"></span></td>
        </tr>
        <tr>
            <td colspan=2>All fields are mandatory.</td>
        </tr>
        <tr>
            <td>phone number (US carriers only)</td>
            <td>
                <input type="text" name="phone" id="phone0" />
                <select name="carrier" id="carrier0" />
                    <option value="invalid"> -- SELECT --</option>
                    <option value="message.alltel.com">Alltel</option>
                    <option value="txt.att.net">AT&amp;T</option>
                    <option value="myboostmobile.com">Boost</option>
                    <option value="mms.cricketwireless.net">Cricket</option>
                    <option value="msg.fi.google.com">Project Fi</option>
                    <option value="messaging.sprintpcs.com">Sprint</option>
                    <option value="tmomail.net">T-Mobile</option>
                    <option value="email.uscc.net">US Cellular</option>
                    <option value="vtext.com">Verizon</option>
                    <option value="vmobl.com">Virgin Mobile</option>
                    <option value="text.republicwireless.com">Republic</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>email</td><td><input type="text" name="email" id="email0" /></td>
        </tr>
        <tr>
            <td>password</td><td><input type="password" name="password" id="password0" /></td>
        </tr>
        <tr>
            <td>Time zone</td>
            <td>
                <select name="time_zone" id="time_zone0" />
                    <option value="invalid"> -- SELECT --</option>
                    <option value="-4">EST</option>
                    <option value="-5">CST</option>
                    <option value="-6">MST</option>
                    <option value="-7">PST</option>
                    <option value="-8">Alaska</option>
                    <option value="-10">Hawaii</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan=2><input type="submit"><input type="reset"></td>
        </tr>
    </table>
</form>
